<form method="POST" action="/sign_up">
    <div class="mb-3">
        <label for="email_input" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email_input" name="email">
    </div>
    <div class="mb-3">
        <label for="password_input" class="form-label">Password</label>
        <input type="password" class="form-control" id="password_input" name="password">
    </div>
    <button type="submit" class="btn btn-secondary float-end">Sign up</button>
</form>