{% extends "base.html" %}
{% block body %}
    <div class="col col-xl-10 mx-2 mx-md-5 mx-xl-auto">
        <div class="row">
            <div class="col d-none d-md-block" style="max-width: 350px">
                <div class="container mx-auto card border-secondary border-2" id="filters_container">

                </div>
            </div>
            <div class="col mx-xl-auto" id="classes_container" style="max-width: 1000px">
            </div>
        </div>
    </div>
    <script>
        const classes_list = {{ classes_list|safe }};
        {{ js|safe }}
    </script>
{% endblock %}
